name: Tests

on:
  push:
    paths-ignore: [ '**.md' ]
  pull_request:
    paths-ignore: [ '**.md' ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      clickhouse:
        image: clickhouse/clickhouse-server:latest
        ports: [ '8123:8123' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - uses: dioptra-io/setup-poetry-action@v1
      - name: Install package
        run: poetry install --extras orjson
      - name: Run tests
        run: poetry run pytest --cov=pych_client --cov-report=xml
      - uses: codecov/codecov-action@v3

  pypi:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dioptra-io/publish-python-action@v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          upload: ${{ startsWith(github.ref, 'refs/tags/v') }}
